{# templates/home.html #}
{% set base_tpl = jinja_load_variant_template("base.html", current_variant) %}
{% extends base_tpl %}

{% block title %}LaserMakers | Grabado Láser Industrial{% endblock %}

{% block content %}
  {% include jinja_load_variant_template("partials/hero.html", current_variant) %}
  {% include jinja_load_variant_template("partials/product-lines.html", current_variant) %}
  {% include jinja_load_variant_template("partials/mission-vision.html", current_variant) %}
{% endblock %}
