{# templates/home.html #}
{% set base_tpl = jinja_load_variant_template("base.html", current_variant) %}
{% extends base_tpl %}

{% block title %}Iniciativas · Dashboard{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto px-6 lg:px-8">
    {% include jinja_load_variant_template("partials/hero_dashboard.html", current_variant) %}
    {% include jinja_load_variant_template("partials/filter_bar.html", current_variant) %}
    {% include jinja_load_variant_template("partials/initiatives_grid.html", current_variant) %}
  </div>
{% endblock %}
