{# templates/initiative_detail.html #}
{% set base_tpl = jinja_load_variant_template("base.html", current_variant) %}
{% extends base_tpl %}

{% block title %}{{ initiative.title }} · Iniciativas{% endblock %}

{% block content %}
  <div class="max-w-6xl mx-auto px-6 lg:px-8 pt-10">
    {% include jinja_load_variant_template("partials/detail_header.html", current_variant) %}
    {% include jinja_load_variant_template("partials/detail_info_cards.html", current_variant) %}
  </div>
{% endblock %}
